
/**
 * Page content
 */
 
 body {
     padding-top: 50px;
 }

h1, h2, h3 {
  font-family: "Doppio One" ;
  font-variant-ligatures: none;
}

h3 .glyphicon {
  font-size: 80%;
}

pre {
  background-color: #fff;
}

hr {
  border-color: $gray-light;
}

.page-content {
  padding: $spacing-unit 0;
}

// mark required form fields
.form-group.required .control-label:after {
  content:"*";
  color:red;
  padding-left: 2px;
}

img.thumbnail {
  max-width: 300px;
}

#markdown-toc {
  border: 1px dotted $gray-light;
  border-radius: 15px;
  padding: 10px 40px;
  background-color: lighten($gray, 70%);
  margin-bottom: 40px;
}


#content-row {
  padding: 20px 0px 60px;
  border-top: 1px solid #fff;
}

#content-row a {
  color: #0085C7;
}

#content-row .label a {
  color: #fff
}

.main-article {
  margin-bottom: 10px;
  margin-top: 30px
}

.main-article > h3 {
  margin-bottom: 20px;
}

.main-article p {
  line-height: 1.2;
  margin-top: 20px;
  margin-right: 40px
}

.screenshot {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border: 1px solid $gray;
  @include box-shadow( 0 1px 3px rgba(0,0,0,.25))
}

.main-article h2 {
  margin-bottom: 40px;
}

.docs h3  {
  margin-top: 40px;
}

