
/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
}

// mark required form fields
.form-group.required .control-label:after {
  content:"*";
  color:red;
  padding-left: 2px;
}

img.thumbnail {
  max-width: 300px;
}

#markdown-toc {
  border: 1px dotted $gray-light;
  border-radius: 15px;
  padding: 10px 40px;
  background-color: lighten($gray, 70%);
  margin-bottom: 40px;
}

