// see https://css-tricks.com/snippets/css/sticky-footer/

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: $footer-height;
}

// override the defaults
#content-row {
  @include box-shadow(none);
}
