<div id="screenshots">
  <div class="screenshot-slider">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <img src="assets/images/screenshots/screenshot_1.png" />
          <div class="carousel-caption">
          <h4>From installation to fine tuning</h4>
          <p>YaST is both an extremelly flexible installer and a powerful control
          center. One tool to setup them all.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/screenshots/screenshot_2.png" />
          <div class="carousel-caption">
          <h4>Tweak everything</h4>
          <p>YaST includes modules to configure almost every single aspect of a Linux
          system... and provides a solid framework to develop even more.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/screenshots/screenshot_3.png" />
          <div class="carousel-caption">
          <h4>Three full-featured interfaces</h4>
          <p>YaST offers two graphical interfaces (Gtk+ and Qt) and a
          terminal-based one, perfect for remote administration.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/screenshots/screenshot_4.png" />
          <div class="carousel-caption">
          <h4>For newbies and experts</h4>
          <p>YaST empowers system administrators not by hidding the underlying
          system details but by providing nice ways to handle them.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/screenshots/screenshot_5.png" />
          <div class="carousel-caption">
          <h4>Install automatically</h4>
          <p>AutoYaST enables you to export system configuration settings and then uses
          them to install thousands of other systems automatically.</p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>
