<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-unstyled">
          <li class="pull-right"><a href="#top">Back to top</a></li>
          <li><a href="http://build.opensuse.org" target="_blank">Built by OBS</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">License</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="assets/javascripts/jquery-1.10.2.min.js"></script>
<script src="assets/javascripts/bootstrap.min.js"></script>
