<footer class="site-footer" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-unstyled">
          <li class="pull-right"><a href="#top">Back to top</a></li>
          <li><a href="http://build.opensuse.org" target="_blank">Built by OBS</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">License</a></li>
          {% if page.layout == "post" or page.url == "/blog/" %}
          <li><a href="{{ "/blog/new_post" | relative_url }}">New Blog Post</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
