<h1 class="page-header">Processes &amp; guidelines</h1>
<h2>Contribution guidelines</h2> 
<p>
YaST is an open source project and as such it welcomes all kinds of
contributions. Either if you want to report a bug or if you want to contribute
some code, make sure you read the
<a href="https://github.com/yast/yast.github.io/blob/master/CONTRIBUTING.md">Yast
contribution guidelines</a> first.
</p>

<p>When contributing code, it's important to observe some conventions. Yast
follows the 
<a href="https://github.com/SUSE/style-guides/blob/master/Ruby.md">SUSE's Ruby
style guide</a> for the source code and its own
<a href="http://en.opensuse.org/openSUSE:YaST_style_guide">UI style guide</a>.
</p>

<h2>From the repository to the distribution</h2> 
<p>
Yast honours the &quot;release early, release often&quot; principle with a
continuous integration infrastructure. The contribution process does not end
when the code enters the repository. The full development workflow also includes
the automatic creation of packages and integration in the distributions and its
described in depth in
<a href="http://en.opensuse.org/openSUSE:YaST:_Development_Workflow">this page
of the openSUSE wiki</a>.
</p>
