<h1 class="page-header">Processes &amp; guidelines</h1>
<h2>Contribution guidelines</h2> 
<p>
YaST is an open source project and as such it welcomes all kinds of
contributions. Either if you want to report a bug or if you want to contribute
some code, make sure you read the
<a href="http://yastgithubio.readthedocs.org/en/latest/contributing/">Yast
contribution guidelines</a> first.
</p>

<p>When contributing code, it should go through the
<a href="http://yastgithubio.readthedocs.org/en/latest/code-review/">documented
code review process</a>. That means, among other things, that all new code
must observe some conventions. Yast follows the
<a href="https://github.com/SUSE/style-guides/blob/master/Ruby.md">SUSE's Ruby
style guide</a> for the source code and its own
<a href="http://en.opensuse.org/openSUSE:YaST_style_guide">UI style guide</a>.
</p>

<h2>From the repository to the distribution</h2> 
<p>
Yast honours the &quot;release early, release often&quot; principle with a
continuous integration infrastructure. The contribution process does not end
when the code enters the repository. The full development workflow also includes
the automatic creation of packages and integration in the distributions and its
described in depth in
<a href="http://en.opensuse.org/openSUSE:YaST:_Development_Workflow">this page
of the openSUSE wiki</a>.
</p>

<p>
<a href="https://travis-ci.org">Travis CI</a> is used for running tests during development.
It runs the tests for every pushed change and when a pull request is created. The build result
is visible at GitHub so build or test failures can be found out very early.
More details can be found in
<a href="http://yastgithubio.readthedocs.org/en/latest/travis-integration/">
the Travis Integration documentation.</a>.
</p>

<p>
The development of a new version of a Linux distribution does not stop when the
distribution is published. It's crucial to provide maintenance updates for bugs
and security threats.
<a href="http://yastgithubio.readthedocs.org/en/latest/maintenance-branches/">The
&quot;Maintenance Branches&quot; document</a> details the relationship between the
maintenance channels for the Linux distributions using Yast and the
corresponding branches in the Yast repositories at Github.
</p>
