<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="jE8Y9nxigQtWGzV5FTI4tz3LwkMD2sHL87EISIxkw4E" />
    <link rel="stylesheet" href="{{ "/assets/stylesheets/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/font-awesome.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/bootswatch.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    {% if page.layout == "post" %}
      <!-- blog post specific metadata format -->
      {% seo %}
    {% else %}
    <script type="application/ld+json"> 
    {
      "@context" : "http://schema.org",
      "@type" : "SoftwareApplication",
      "name" : "YaST",
      "image" : "{{ "/assets/images/yast-logo.png" | absolute_url }}",
      "publisher" : {
        "@type" : "Organization",
        "name" : "openSUSE"
      },
      "operatingSystem" : "Linux",
      "screenshot" : "{{ "/assets/images/screenshots/YaST-Screenshot.png" | absolute_url }}"
    }
    </script>
    {% endif %}
    <script src="{{ "/assets/javascripts/jquery-1.10.2.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascripts/bootstrap.min.js" | relative_url }}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/javascripts/html5shiv.js"></script>
        <script src="assets/javascripts/respond.min.js"></script>
    <![endif]-->

    <title>{{ site.title }}, {{ site.description }}</title>
</head>
