<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/javascripts/html5shiv.js"></script>
        <script src="assets/javascripts/respond.min.js"></script>
    <![endif]-->

    <title>{{ site.title }}, {{ site.description }}</title>
</head>
