<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">YaST</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav" id="main-menu">
        <li class="{% if page.url == "/modules.html" %}active{% endif %}">
          <a href="{{ "/modules" | relative_url }}">Modules</a>
        </li>
        <li class="{% if page.url == "/contributing.html" %}active{% endif %}">
          <a href="{{ "/contributing" | relative_url }}">Contributing</a>
        </li>
        <li class="{% if page.url == "/documentation.html" %}active{% endif %}">
          <a href="{{ "/documentation" | relative_url }}">Documentation</a>
        </li>
        <li class="{% if page.url == "/guidelines.html" %}active{% endif %}">
          <a href="{{ "/guidelines" | relative_url }}">Guidelines</a>
        </li>
        <!-- FIXME: temporarily disabled, enable when the blog is fully working -->
        {% if page.url == "/blog/" %}
        <li class="{% if page.url == "/blog/" %}active{% endif %}">
          <a href="{{ "/blog" | relative_url }}">Blog</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
