<div class="sharing">
  <div class="sharing-header">
    Share this:
  </div>

  <ul class="sharing-list">
    <li><a href="https://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}"
      onclick="window.open('https://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}','tw','width=500,height=480'); return false;"
      class="sharing-button twitter-button" rel="nofollow" target="_blank"
      title="Share on Twitter">
      <span class="fa fa-twitter fa-fw"></span>Twitter</a></li>
    <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
      class="sharing-button facebook-button" rel="nofollow" target="_blank"
      onclick="window.open('https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}', 'fb', 'width=500,height=480'); return false;"
      title="Share on Facebook">
      <span class="fa fa-facebook fa-fw"></span>Facebook</a></li>
    <li><a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;description={{ page.title }}"
        class="sharing-button pinterest-button" rel="nofollow" target="_blank"
        onclick="window.open('http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;description={{ page.title }}', 'pinterest', 'width=800,height=600'); return false;"
        title="Share on Pinterest">
      <span class="fa fa-pinterest fa-fw"></span>Pinterest</a></li>
  </ul>

</div>
