// style for the social media buttons

// https://developers.google.com/+/branding-guidelines#google-icon-branding-guidelines
$google-button:    #dd4b39;
// https://about.twitter.com/company/brand-assets
$twitter-button-color: #55acee;
$facebook-button-color: #3b5999;
// https://business.pinterest.com/en/brand-guidelines
$pinterest-button-color: #bd081c;

.sharing {
  text-align: center;
  margin: 4em 0 1em 0;
}

.sharing-header {
  font-style: italic;
  font-size: 13px;
  margin: 10px;
}

.sharing-list {
  margin: 0;
  li {
    display: inline;
    list-style: none;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.sharing-button {
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 6px;
  &:hover {
    text-decoration: none;
  }
}

.google-button {
  background-color: $google-button;
  color: white;
  &:hover {
    background-color: lighten($google-button, 10%);
  }
  &:visited {
    color: white;
  }
}

.twitter-button {
  background-color: $twitter-button-color;
  color: white;
  &:hover {
    background-color: lighten($twitter-button-color, 10%);
  }
  &:visited {
    color: white;
  }
}

.facebook-button {
  background-color: $facebook-button-color;
  color: white;
  &:hover {
    background-color: lighten($facebook-button-color, 10%);
  }
  &:visited {
    color: white;
  }
}

.pinterest-button {
  background-color: $pinterest-button-color;
  color: white;
  &:hover {
    background-color: lighten($pinterest-button-color, 10%);
  }
  &:visited {
    color: white;
  }
}
