
$brand-success:   #35b9ab;
$brand-primary:   #173f4f;
$body-bg:         #f5f5f5;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$web-font-path: "https://fonts.googleapis.com/css?family=Doppio+One"

