---
layout: default
title: Blog Post Tags
description: Find Blog Posts by a Tag
---

<div class="tag-list">
<h1><span class="fa fa-tags fa-fw"></span> All Tags</h1>
<ul class="tag-cloud">
{% assign tags = site.tags | sort %}
{% for tag in tags %}
  <li class="tag-cloud-item" style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 80  }}%">
    <a href="#{{ tag | first | slugize }}" onclick="filter_tags('{{ tag | first | slugize }}');">{{ tag | first }}</a>
  </li>
{% endfor %}
</ul>
</div>

<h1>Posts Grouped by Tag</h1>

<div class="tag-list">
{% for tag in tags %}
  {% capture tag_name %}{{ tag | first }}{% endcapture %}
  <div class="tag-group" id="{{ tag_name | slugize }}">
    <a name="{{ tag_name | slugize }}"></a>
    <h4><span class="fa fa-tag fa-fw"></span> {{ tag_name }}</h4>
    {% for post in site.tags[tag_name] %}
    <div class="tag-link">
      <a href="{{ post.url | relative_url }}">{{post.title}}</a>
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>

<script type="text/javascript">
  // filter the tags to display
  function filter_tags(tag) {
    // tag from the argument or the current URL
    var current_tag = tag || document.location.hash.substring(1);
    var x = document.getElementsByClassName("tag-group");
    var i;
    for (i = 0; i < x.length; i++) {
      var display = "";

      if (tag != undefined) {
        display = (x[i].id == current_tag) ? "" : "none";
      }
      else if (current_tag != undefined) {
        display = (x[i].id == current_tag) ? "" : "none";
      }

      x[i].style.display = display;
    }
  }
</script>