---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-size:   16px;
// normal
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$title-color:      white;

$base-color:       #8CD4FF;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;

$brand-color:      #0085C7;
$brand-color-light1:  lighten($brand-color, 40%);
$brand-color-light2:  lighten($brand-color, 50%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 20%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$footer-height:     130px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "pagination",
        "sharing"
        // FIXME: disabled for now
        //"syntax-highlighting"
;
