---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;

$spacing-unit:     30px;

$brand-color:      #35b9ab;
$brand-color2:     #173f4f;

$content-link-color: #0085C7;
$content-link-color-light: lighten($content-link-color, 10%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 20%);

$on-palm:          600px;
$on-laptop:        800px;

$footer-height:     130px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "pagination",
        "sharing",
        "search",
        "disqus",
        "syntax-highlighting"
;
