<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}

    <div id="masthead-row">
      <div class="container">
        <div class="page-header">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="masthead">
                <img src="assets/images/yast-logo.png">
                <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                <p class="lead">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content-row">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
