<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}

    <div class="jumbotron masthead">
      <div class="container">
        <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}<img src="assets/images/yast-logo.png" /></h1>
        <p>{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</p>
        {% include carousel.html %}
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
